﻿<%@ Page Title="Your Reports" Language="C#" MasterPageFile="~/IncidentReports.Master" AutoEventWireup="true" CodeBehind="YourAnalytics.aspx.cs" Inherits="ReportHq.IncidentReports.YourAnalytics" %>

<asp:Content ID="Content2" ContentPlaceHolderID="phContent" runat="server">
		
	[charts here]

</asp:Content>
