﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Ucr.ascx.cs" Inherits="ReportHq.IncidentReports.Event.Controls.Ucr" %>
<%@ Register TagPrefix="ReportHq" TagName="ReportSubNav" src="ReportSubNav.ascx" %>

<ReportHq:ReportSubNav ID="ucReportSubNav" CurrentSection="Ucr" OnNavItemClicked="ucReportSubNav_NavItemClicked" runat="server" />

<table class="formBox" border="0">
	<tr>
		<td style="height:400px; text-align:center;"><span style="font-size:200px;">?</span></td>
	</tr>
</table>